$linearColor: linear-gradient(90deg, #391346 1.18%, #A011D1 100%);
$textWhite: #FFFFFF;

:root {
    font-family: 'Karla', Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 24px;
    font-weight: 400;
}

*{
box-sizing: border-box;
}
a {
color: inherit;
text-decoration: none;
}

body{
    background-color: #282D35;
}

nav{
    display: flex;
    color: $textWhite;
    background-image: $linearColor;
    padding: 2rem;


    *{
        margin: 0 .6rem;
    }

    h1{
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.4rem;
    }
}

section{
    padding: 0 3.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-container{
    margin: 3.6rem auto 0 auto;
    max-width: 90%;

    form{
        padding: 1.5rem;
        width: 100%;
    }


    .input-fields{
        display:flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        gap: 2rem;
    }

    .text-box{
        width: 100%;
        height: 3.5rem;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.4rem;
        border: 1px solid #D5D4D8;
        border-radius: .5rem;
        padding: .5rem;
    }
        

    .text-box:focus{
        outline: #A011D1;
        border: 2px solid #A011D1;
    }

    .btn-section{
        background: $linearColor;
        width: 80%;
        margin-top: 1.5rem;
        margin-bottom: 3.5rem;
        margin: 1.5rem auto 3.5rem auto;
        border-radius: .5rem;

    }

    .generate-meme-btn{
        width: 100%;
        color: $textWhite;
        background-image: $linearColor;
        height: 4rem;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.9rem;
        border: none;
        border-radius: .5rem;
    }

    .generate-meme-btn:active{
        border: 1px solid #391346;
    }

}


.photo-container{
    display: flex;
    justify-content: center;
    position: relative;
    border: 1px solid white;
    .memePhoto{
        position:relative;
        width: 100%;

    }
    
    .meme--text{
        position: absolute;
        width: 80%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        margin: 15px 0;
        padding: 0 5px;
        font-family: impact, sans-serif;
        font-size: 2em;
        text-transform: uppercase;
        color: #FFFFFF;
        letter-spacing: 1px;
        text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;
    }


    .top{
        top: 0;
    }
    .bottom{
        bottom: 0;
    }
}


